.dtk-pwsetter {
  &__ui {
    width: 100%;
  }

  &__main {
    font-weight: 400;
    width: 100%;
    font-style: normal;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 1px;
    color: var(--neutral-600);
  }

  &__topic {
    margin-right: auto;
  }

  &__strength-state {
    min-width: 40px;
  }

  &__dashboard {
    gap: 10px;
  }

  &__strength-container {
    width: 48px;
    align-content: center;
    flex-wrap: wrap;
    gap: 10px;
  }

  &__strength-content {
    height: 4px;
    width: 0;
    border-radius: var(--corner-radius-max);

    &[data-strenght="0"] {
      background-color: var(--red-500);
    }

    &[data-strenght="1"] {
      background-color: var(--green-200);
    }

    &[data-strenght="2"] {
      background-color: var(--green-400);
    }
  }

  &__error {
    color: var(--red-500);
  }

}