@use '@drumee/ui-styles/src/mixins';
@use '../../../skin' as *;

.dtk-pwsetter {
  @include dtk-butler-button;

  &__ui {
    width: 100%;
  }

  &__main {
    font-weight: 400;
    width: 100%;
    font-style: normal;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 1px;
    color: var(--neutral-600);
    gap: var(--spacer-4);
  }

  &__topic {
    margin-right: auto;
  }

  &__strength-state {
    min-width: 40px;
  }

  &__dashboard {
    padding-left: 16px;
    padding-left: 16px;
    align-content: center;
    flex-wrap: wrap;
    gap: 8px;
  }

  &__strength-container {
    width: 48px;
    align-content: center;
    flex-wrap: wrap;
    gap: 10px;
  }

  &__strength-content {
    height: 4px;
    width: 0;
    border-radius: var(--corner-radius-max);

    &[data-strenght="0"] {
      background-color: var(--red-500);
    }

    &[data-strenght="1"] {
      background-color: var(--green-200);
    }

    &[data-strenght="2"] {
      background-color: var(--green-400);
    }
  }

  &__message-icon {
    color: var(--green-400);
    width: 16px;
    height: 22px;

    &[data-state="0"] {
      display: none;
    }
  }

  &__message-text {
    align-content: center;
    flex-wrap: wrap;
    line-height: 22px;

    &[data-status="error"] {
      color: var(--red-500);
    }
  }

  &__buttons,
  &__form {
    gap: var(--spacer-4);
    width: 100%;
  }

  &__button-main {
    &[data-state="0"] {
      pointer-events: none;
    }

    &[data-state="1"] {
      background-color: var(--primary-500);
      color: var(--white);
    }
  }

  &__entry-main {
    width: 100%;
    height: 48px;
    border-radius: 12px;
    padding-right: 16px;
    padding-left: 16px;
    border-width: 1px;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
  }

  &__entry-input {
    &[data-status="error"] {
      input {
        border: 1px var(--red-600) solid;
      }
    }
  }

  &__entry-input {
    input {
      width: 100%;
      gap: var(--spacer-4);
      width: 100%;
      border-radius: var(--spacer-4);
      padding-top: 12px;
      padding-right: 16px;
      padding-bottom: 12px;
      padding-left: 16px;
      border: 1px var(--neutral-200) solid;
    }

    .entry-reminder__icon {
      right: 5px;
      position: absolute;
    }

    width: 100%;
    height: 100%;
  }
}