@use '../../../skin' as *;

.dtk-otp {
  @include dtk-butler-main;

  &__digits {
    width: 100%;
    justify-content: center;
    height: 78px;
    gap: var(--spacer-6);
  }

  &__digit {
    width: 52px;
    height: 72px;
    opacity: 1;
    gap: 16px;
    border-radius: var(--corner-radius-max);
    padding-top: 8px;
    padding-right: 16px;
    padding-bottom: 8px;
    padding-left: 16px;
    border: 1px var(--neutral-200) solid;

    input {
      width: 100%;
      width: 100%;
      font-weight: 400;
      font-style: normal;
      font-size: 32px;
      line-height: 40px;
      text-align: center;
      vertical-align: middle;

      &:focus {
        background: var(--primary-100);
        color: var(--primary-500);
      }
    }

    &:focus-within {
      border: 1px solid var(--primary-500);
      background: var(--primary-100);
    }
  }

  &__resend {
    width: 100%;
    justify-content: start;
    flex-wrap: wrap;

    &-text {
      font-weight: 400;
      font-style: normal;
      font-size: 16px;
      line-height: 26px;
      letter-spacing: 1px;
      width: 100%;

      &.resend {
        color: var(--primary-500);
        font-weight: bold;
        cursor: pointer;
      }
    }
  }
}