@use '@drumee/ui-styles/src/mixins';

@mixin dtk-butler-main {

  &__ui {
    width: 100vw;
    height: 100vh;
    align-content: center;
    align-items: center;
    justify-content: start;
    background-color: var(--neutral-100);
    overflow: auto;
    font-family: var(--font-main);
    flex-wrap: wrap;
    padding: var(--spacer-7);
    gap: var(--spacer-8);
    flex-shrink: 0;

    &[data-device="mobile"] {
      padding: 10px;
      height: auto;
    }
  }

  &__main {
    top: 180px;

    &[data-device="mobile"] {
      top: 0;
      gap: var(--spacer-3);
    }

    justify-content: start;
    align-items: center;
    width: 100%;
    max-width: 480px;
    border-width: 1px;
    gap: var(--spacer-5);
    background-color: var(--white);
    border: 1px solid var(--neutral-200);
    padding: var(--spacer-7);
    border-radius: var(--corner-radius-6);
  }


  &__logo {
    &-container {
      align-content: center;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
    }

    &-content {
      width: 80px;
      height: 64px;
      align-content: center;
      justify-content: start;
      align-items: start;
      flex-wrap: wrap;

      svg {
        width: 100%;
        height: 100%;
      }
    }
  }

  &__title {
    font-weight: bold;
    font-size: 32px;
    line-height: 40px;
    text-align: center;
  }

  &__tips {
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 1px;
    text-align: center;
  }

  &__message {
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 1px;

    span {
      font-weight: bold;
      cursor: pointer;
    }
  }

}

@mixin dtk-butler-button {

  &__buttons {
    gap: var(--spacer-6);
    width: 100%;
    justify-content: center;
  }


  &__button-main {
    height: 48px;
    opacity: 1;
    gap: var(--spacer-4);
    border-radius: var(--corner-radius-max);
    padding-top: 8px;
    padding-right: 16px;
    padding-bottom: 8px;
    padding-left: 16px;
    cursor: pointer;

    &[data-haptic="1"] {
      opacity: .6;
      pointer-events: none;
    }

    &.primary {
      padding-right: 3px;
      justify-content: center;
      grid-template-columns: 1fr 40px;
      background: var(--primary-500);
      color: var(--white);
      align-content: center;
      flex-wrap: wrap;

      .icon.svg-wrapper {
        height: 38px;
        width: 38px;
        color: var(--primary-500);
        background-color: white;
        border-radius: 50%;
        padding: 9px;
      }
    }

    &.full-width {
      width: 100%;
    }

    &.secondary {
      justify-content: center;
      background-color: var(--neutral-200);

      .icon.svg-wrapper {
        height: 32px;
        width: 32px;
        color: var(--neutral-900);
        border-radius: 50%;
        padding: 6px;
      }
    }

    svg {
      width: 100%;
      height: 100%;
    }
  }

  &__button.btn {
    width: auto;
    height: 100%;
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    line-height: 20px;
  }

}